<div class="product-card item">
    <div class="product-card-offer">
        {% if product.in_stock %}
            <div class="in-stock">
                <i class="fa-solid fa-check"></i>
                <span>В наличии</span>
            </div>
        {% else %}
            <div class="not-in-stock">
                <i class="fa-solid fa-xmark"></i>
                <span>Нет в наличии</span>
            </div>
        {% endif %}
        {% if product.is_sale %}
            <div class="in-sale">sale</div>
        {% endif %}
    </div>
    <div class="product-card-thumb">
        <a href="{{ product.slug }}"><img
                src="{{ product.image ? product.image : '/assets/img/no-image.png' }}" alt="{{ product.title }}"></a>
    </div>
    <div class="product-card-details">
        <h4 class="product-card-title"><a
                href="{{ product.slug }}">{{ product.title }}</a>
        </h4>
        <div class="product-card-details-bottom">
            <div class="product-card-price">
                ${{ product.price }}
                {% if product.old_price %}
                    <del>${{  product.old_price }}</del>
                {% endif %}
            </div>
            <div class="product-card-btns">
                <a href="#" class="btn btn-outline-secondary add2cart"><i
                        class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
</div>
